[WordPressCom]
client_id = 12345
user_id = 123456789
blog_id = 123456789
rawtoken = gobbeldegook
user_name = username
password = password
url = blah.wordpress.com

[Proxies]
http = http://www:80
https = http://www:80
ssl_verify = /home/blah.pem

[WordPressMultisite]
multisite_base_url = https://wp-qual.foo.net/
site_path = my-wordpress-site/

